<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbdiye.newlechuangsmart">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    //网络权限
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    //存储权限
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    //wifi 状态权限
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    //热点配网扫描wifi需要使用
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.videogo.main.EzvizWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receiver.EzvizBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.videogo.action.OAUTH_SUCCESS_ACTION" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ForgetPasswordActivityActivity" />
        <activity android:name=".activity.WelcomeActivity" />
        <activity
            android:name=".activity.LinkageAddActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.LinkageAddConditionActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.ResetPswActivity" />
        <activity android:name=".activity.PersonInfoActivity" />
        <activity android:name=".activity.RoomActivity" />
        <activity android:name=".activity.LinkageDetailActivity" />
        <activity android:name=".activity.FamilyMemberActivity" />
        <activity android:name=".activity.AddRoomActivity" />
        <activity android:name=".activity.DeviceClassyActivity" />
        <activity android:name=".fragment.DeviceListFragment" />
        <activity android:name=".activity.DeviceModelActivity" />
        <activity android:name=".activity.YaoKongCenterActivity" />
        <activity android:name=".activity.InfraredActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.ChoiceDeviceActivity" />
        <activity android:name=".activity.MyDeviceActivity" />
        <activity android:name=".activity.TimeConditionActivity" />
        <activity android:name=".activity.MoreSceneActivity" />
        <activity android:name=".activity.MyErCodeActivity" />
        <activity android:name=".zxing.activity.CaptureActivity" />
        <activity android:name=".activity.CameraListActivity" />
        <activity
            android:name=".activity.EZRealPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".remoteplayback.list.PlayBackListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".message.EZMessageActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.remoteplayback.EZRemotePlayBackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.EZMessageImageActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devicemgt.ModifyDeviceNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devicemgt.EZDeviceSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devicelist.AutoWifiNetConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devicelist.AutoWifiConnectingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devicelist.AutoWifiResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devicelist.APWifiConfigActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SeriesNumSearchActivity" />
        <activity android:name=".devicelist.AutoWifiPrepareStepOneActivity" />
        <activity android:name=".activity.YiLiaoActivity" />
        <activity android:name=".activity.SceneDetailActivity" />
        <activity android:name=".activity.AddSceneDeviceActivity" />
        <activity android:name=".activity.ZhiNengzjActivity" />
        <activity android:name=".activity.ZhuJiDetailActivity" />
        <activity android:name=".activity.HealthActivity" />
        <activity android:name=".activity.TiZhongActivity" />
        <activity android:name=".activity.TiWenActivity" />
        <activity android:name=".activity.TiZhiLvActivity" />
        <activity android:name=".activity.XueTangActivity" />
        <activity android:name=".activity.XueYaActivity" />
        <activity android:name=".activity.EditActionActivity" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".AliveService"
            android:process=":live" />

        <activity android:name=".activity.GateWaySeriesNumActivity" />
        <activity android:name=".activity.AddLinkageDeviceActivity" />
        <activity android:name=".activity.EditInfoActivity" />
        <activity android:name=".activity.UpdateLinkageConditionActivity" />
        <activity android:name=".activity.RoomListActivity" />
        <activity android:name=".activity.MonitorListActivity" />
        <activity android:name=".activity.DeviceDetailActivity" />
        <activity android:name=".activity.VoiceActivity"></activity>
        <activity android:name=".music.MainActivity"/>
        <activity android:name=".music.LoginActivity"/>
        <activity android:name=".music.DeviceActivity"/>
        <activity android:name=".music.UserActivity"/>
        <activity android:name=".music.MusicActivity"/>
        <activity android:name=".music.ControlActivity"/>
        <activity android:name=".music.PlaylistActivity"/>
        <activity android:name=".music.SceneActivity"/>
        <activity android:name=".music.PartitionActivity"/>
        <service android:name="com.lib.smartlib.tcp.MinaTcpService"/>
    </application>

</manifest>